# Isolate NBG1 region from other regions
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: isolate-region-nbg1
  namespace: verifier
  labels:
    partition-test: "true"
spec:
  podSelector:
    matchLabels:
      topology.kubernetes.io/region: nbg1
  policyTypes:
    - Ingress
    - Egress
  ingress:
    - from:
        - podSelector:
            matchLabels:
              topology.kubernetes.io/region: nbg1
  egress:
    - to:
        - podSelector:
            matchLabels:
              topology.kubernetes.io/region: nbg1
    - to:
        - namespaceSelector: {}
          podSelector:
            matchLabels:
              k8s-app: kube-dns
      ports:
        - protocol: UDP
          port: 53
